$base-font-family: 'Lato', sans-serif !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;


// Colors
$dusty-gray: #9B9B9B;
$tundora: #4A4A4A;
$monza: #D0021B;
$mine-shaft: #313131;

$content-width: 1200px !default;