{% assign custom_url = site.url | append: site.baseurl %}
{% assign full_base_url = custom_url | default: site.github.url %}
<div class="post-layout l-row">
  <aside class="post-list l-flex-none">
    <h2 class="post-list__latest flag-highlight--right--lg">Últimas noticias</h2>
    {% for post in site.posts limit:3 %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-list__link">
        <div class="post-list__item l-row">
          <div class="post-list__item__cover">
            <img class="post-list__item__cover__image" src="{{ full_base_url }}/images/{{ post.thumbnail | default: 'default-news.jpg' }}" alt="{{ post.title | escape }}">
          </div>
          <div class="post-list__item__content l-flex-fill l-col l-justify-center">
            <h1 class="post-list__item__type">{{ post.type | escape }}</h1>
            <h3 class="post-list__item__date">{{ post.date | date: "%b %-d, %Y" }}</h3>
            <h1 class="post-list__item__title">{{ post.title | escape }}</h1>
          </div>
        </div>
      </a>
    {% endfor %}
    <a href="{{ full_base_url }}/noticias/" class="post-list__all l-row l-center-items">
      <span class="post-list__all__label l-flex-fill">Ver todas</span>
      <span class="post-list_all__arrow l-flex-none">{% include arrow.svg %}</span>
    </a>
  </aside>
  <article class="post l-flex-fill">
    <div class="post__content">
      {{ content }}
    </div>
  </article>
</div>
