// Config
$footer-bgcolor: $mine-shaft;
$footer-height: 85px;
$copyright-color: $dusty-gray;

// Base
.site-footer {
  background-color: $footer-bgcolor;
  background-image: url(../images/lines.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 90px auto;
}

.site-footer__inner {
  height: $footer-height;
  @media screen and (max-width: $content-break-md) {
    flex-direction: column;
    height: auto;
    justify-content: center;
    padding: 10px 0;
  }
}

.site-footer__copyright {
  margin:0 20px;
  color: $copyright-color;
  font-size: 18px;
  text-transform: uppercase;
  @media screen and (max-width: $content-break-md) {
    font-size: 16px;
    p {
      margin: 0;
    }
  }
}