// Config
$header-bgcolor: #000;
$header-height-lg: 380px;
$header-height-sm: 250px;

// Base
.site-header {
  background-repeat: no-repeat;
  background-color: $header-bgcolor;
  background-image: url('../images/ryu.jpg');
  background-position: center center;
  background-size: auto 100%;
  height: $header-height-lg;
  position: relative;
  @media screen and (max-width: $content-break-lg) {
    background-position-y: $site-navbar-height;
  }
  @media screen and (max-width: $content-break-md) {
    background-position-y: $site-navbar-height;
    background-size: auto ($header-height-lg - $site-navbar-height);
    &:before {
      display: block;
      width: 100%;
      height: $site-navbar-height;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      background-color: #000;
    }
  }
}

.site-header__inner {
  position: relative;
}

.site-logo {
  font-size: 0;
  svg {
    margin: 10px;
    height: 85px;
    @media screen and (max-width: $content-break-md) {
      height: 70px;
    }
  }
}