// Config
$header-bgcolor: #000;
$header-height-lg: 380px;
$header-height-sm: 250px;

// Base
.site-header {
  background-repeat: no-repeat;
  background-color: $header-bgcolor;
  background-image: url('../images/ryu.jpg');
  background-position: center center;
  background-size: auto 100%;
  height: $header-height-lg;
}

.site-logo {
  font-size: 0;
  svg {
    margin: 10px;
    height: 85px;
  }
}