// Config
$post-list-width: 400px;
$post-list-item-bgcolor: #fff;
$post-list-cover-size: 150px;
$post-list-content-font-size: 16px;
$post-list-type-color: $dusty-gray;
$post-list-excerpt-color: $tundora;
$post-list-date-color: $dusty-gray;
$post-list-title-color: $tundora;

// Base
.post-list {
  width : $post-list-width;
  margin-right: 50px;
  margin-top: -150px;
  margin-bottom: 40px;
  z-index: 10;
}

.post-list__link {
  text-decoration: none;
  margin-bottom: 25px;
  display: block;
}

.post-list__item {
  background-color: $post-list-item-bgcolor;
  box-shadow: 0 4px 15px rgba(#000, .1);
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 4px 15px rgba(#000, .3);
  }
}

.post-list__item__cover {
  width: $post-list-cover-size;
  height: $post-list-cover-size;
}

.post-list__item__cover__image {
  width: $post-list-cover-size;
  height: $post-list-cover-size;
  object-fit: cover;
}

.post-list__item__content {
  padding: 15px;
  flex-shrink: 1;
}

.post-list__item__type,
.post-list__item__title,
.post-list__all {
  margin: 0;
  font-size: $post-list-content-font-size;
  font-weight: normal;
  text-transform: uppercase;
}

.post-list__item__title {
  color: $post-list-title-color;
}

.post-list__item__type {
  color: $post-list-type-color;
}

.post-list__item__excerpt {
  font-size: 15px;
  color: $post-list-excerpt-color;
}

.post-list__item__date {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: $post-list-date-color;
}

.post-list__all {
  position: relative;
  height: 60px;
  padding:0 20px;
  color: $monza;
  box-shadow: 0 2px 5px rgba(#000, .1);
  text-decoration: none;
  background-image: url('../images/button-texture.png');
  background-repeat: no-repeat;
  background-size: contain;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 2px 5px rgba(#000, .3);
  }
}

.post-list__all__arrow {
  font-size: 0;
  svg{
    vertical-align: text-top;
  }
}

.post-index {
  margin: 20px auto;
  max-width: 700px;
}