.l-full-height {
  height: 100%;
}

.l-content {
  max-width: $content-width;
  margin: 0 auto;
  @media screen and (max-width: $content-break-lg) {
    max-width: $content-width-md;
  }
  @media screen and (max-width: $content-break-md) {
    max-width: 90%;
  }
}