.l-col{
  display: flex;
  flex-direction: column;
}

.l-row{
  display: flex;
  flex-direction: row;
}

.l-center-items {
  align-items: center;
}

.l-space-between{
  justify-content: space-between;
}

.l-flex-fill {
  flex: 1 0 auto;
}

.l-justify-end {
  justify-content: flex-end;
}

.l-flex-none {
  flex: none;
}